<%= form_for @user do |f|%>
    <p class="text_field"><%= f.text_field :email, :placeholder => 'email', :class => 'text_field' %></p>
    <p class="text_field"><%= f.password_field :password, :placeholder => 'password', :class => 'text_field' %></p>
    <p class='button'><%= f.submit %></p>
<% end %>
