<%= form_tag do %>
    <p class="text_field"><%= text_field_tag :email, :placeholder => 'email', :class => 'text_field' %></p>
    <p class="text_field"><%= password_field_tag :password, :placeholder => 'password', :class => 'text_field' %></p>
    <p class='button'><%= submit_tag %></p>
<% end %>
