
    <h4>The form has <%= pluralize(@user.errors.count, "error") %>.</h4>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>        

