<h2>user#show</h2>

<h2>Yo <%= @user.username %></h2>
<ul>
    <li>
        Email: <%= @user.email %>
    </li>
    <li>
        Number of Playlists: <%= @user.playlists.count%>
    </li>
</ul>

<%= link_to 'Home', root_path %>