<nav>
  <%= link_to 'HOME', root_path %>
  <span class="right">
      <a href="/users/<%= current_user.id %>/playlists"><%= current_user.email%></a>
      <%= link_to 'logOut', logout_path, method: :delete %>
  </span>
</nav>

