<nav>
  <%= link_to 'HOME', user_playlists_path(current_user) %>
  <span class="right">
      <a href="/users/<%= current_user.id %>/edit"><%= current_user.email%></a>
      <%= link_to 'LOG OUT', logout_path, method: :delete %>
  </span>
</nav>

