<nav>
  <%= link_to 'home', root_path %>
  <span class="right">
      <a href="/users/<%= current_user.id %>/playlists"><%= current_user.email%></a>
      <%= link_to 'log out', logout_path, method: :delete %>
  </span>
</nav>

