<h1>Welcome to Valence</h1>
<h3>Sign up today to see your favorite songs brought to life!</h3>

<h3>Welcome <%= current_user ? 'Playlist Sculptor' : 'Person' %></h3>

<% if current_user%>
  <%= link_to 'View Your Playlists', user_playlists_path(current_user) %>
<% end %>

