<h2><%= @title %></h2>

<div>
  <% @songs.each do |song| %>
  <div class="song-result">
    <a href="/song/<%= song[:song_id] %>">
      <img src="<%= song[:artwork_url] %>"></a>
      <p><%= song[:artist] %></p>
  </div>
  <% end %>
</div>
