body {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.welcome {
  width: 800px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: darkslategrey;
  letter-spacing: .25em;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 30px;
}

.highlight {
  padding:10px 20px 10px 20px;
  background-color: aquamarine;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-weight: 200;
  margin: 0 auto;
  display: inline-block;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: darkslategrey;
}

h4 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: darkslategrey;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: darkslategrey;
}

span {
  display:inline;
  float:right;
}

nav {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  width: 100%;
  z-index: 1000;
  position: fixed;
  display:inline;
  color: slategray;
  background-color: lightgray;
  height: 20px;
  margin: 0 auto;
  padding: 10px;
}

h4 a {
  color: gray;
  text-decoration: none;
}

h4 a:hover {
  color: darkslategray;
  text-decoration: none;
}

nav a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: slategray;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  color: darkslategray;
  text-decoration: none;
}

ul {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  list-style-type: none;
}

#email {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  margin:10px auto;
  padding:0;
}

#email_confirmation {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  margin:10px auto;
  padding:0;
}

#password {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  margin:10px auto;
  padding:0;
}

#password_confirmation {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  margin:10px auto;
  padding:0;
}

.container {
  margin: 0;
  padding:50px;
}

.edit-form {
  background-color: lightblue;
  margin:10px;
  padding: 10px;
  width: 350px;
}

.button {
  background-color: lightgray;
  background: transparent none;
  box-shadow: none;
  border:none;
  padding: 20px;
}

#create-another {
  color: slategray;
  text-decoration: none;
}

.song-text-field {
  width: 300px;
  height: 30px;
  font-size: 16px;
  margin:10px auto;
  padding:0;
}

input {
  border: 1px solid lightgray;
  text-align:center;
  margin: 0 auto;
  padding:10px;
  margin: 10px auto 40px auto;
}

.text_field {
  width: 300px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  margin:10px auto;
  padding:0;
}

.form_center {
  margin:0;
  padding:0;
  display: block;
  text-align: center;
}

#user_email, #user_email_confirmation, #user_password, #user_password_confirmation {
  display: block;
  width: 300px;
  margin: 10px auto 10px auto;
  height: 40px;
  font-size: 16px;
  text-align: center;
  padding:0;
}

.footer {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: lightgray;
  text-align: center;
  display: block;
  margin 0 auto;
  height:50px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 10px 0px 10px;
  background: #ccc;
}

.close {
  background: lightblue;
  color: white;
  font-size: 22px;
  position: absolute;
  right: -16px;
  text-align: center;
  top: -14px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
}

.close:hover { background: aqua; }

.playlist {
  width: 500px;
  float: left;
}

.canvas {
  position: fixed;
  top: 50px;
  right: 50px;
  -webkit-backface-visibility: hidden;
}

.search-results {
  width: 650px;
  height: auto;
  position: fixed;
  background-color: lightblue;
  top: 50px;
  right: 50px;
}

.song-object {
  display: inline-block;
  background-color: lightyellow;
  width: 400px;
  height: 100px;
  margin: 5px;
}

.fa-trash-o {
  font-size: 1.25em;
  color: gray;
  padding: 5px;
  margin: 5px;
}

.fa-arrows-v {
  color: white;
  background-color: gray;
  height: 65px;
  width: 20px;
  display: inline;
  padding: 35px 0 0 5px;
  float: left;
}

.song-show-image {
  width: 100px;
  height: 100px;
}

.playlist-index {
  width: 200px;
  height: 100px;
  display: block;
  margin-bottom: 5px;
  background-color: gray;
  float: right;
}

.playlist-index-artwork {
  width: 20px;
  height: 20px;
}

.sort-me {
  background-color: lightgray;
  width: 400px;
  height: 100px;
  margin: 5px;
}

.sortable {
  list-style-type: none;
  margin: auto;
  width: 500px;
  height: 100px;
}

.sortable li {
  height: 50px;
}

.sortable li span {
  position: absolute;
}

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 65%;
  margin-left: -50px;
  margin-top: -50px;
  text-align:center;
  z-index:1;
}

.menu {
  width: 150px;
  font-size: 16px;
  margin-bottom: 20px;
}

.menu li {
  font-family: 'Helvetica';
}

.menu li:hover {
  background-color: lightgrey;
  color: white;
}
.menu li:active {
  background-color: steelblue;
  color: white;
}

.down {
  background-color: steelblue;
  color: white;
}

.heading {
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: bold;
  margin-bottom: 0px;
}

svg{
  z-index: -2;
}
