<h1>DON'T PLAN TO USE THIS VIEW</h1>
<h2>playlists#new</h2>
<h1>Make A New Playlist</h1>

<div>

  <form action="/users/:user_id/playlists" method='post'>

    <%= token_tag %>
    <input class='field' type="text" name='playlist[title]' placeholder='playlist name'>
    <input class='field' type="text" name='playlist[mood]' placeholder='mood'>
    <input type="submit">

  </form>

</div>
