<div class="playlist">
  <h3 class='playlist-title' data-user-id="<%= current_user.id %>" data-playlist-id="<%= @playlist.id %>"><%= @playlist.title %><h3>
    <h4>Mood: <%= @playlist.mood %></h4>

    <div class="playlist-songs"></div>

    <div class="viz">VISUALIZATION</div>


    <script>

    var playlistCollection = new PlaylistCollection();


    function greg(){
      playlistCollection.fetch(displaySongsOnShow);
    }

    $(document).on('page:change', function() {
      greg();
      $(document).unbind();
    });

    </script>

