<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playlist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'playlists', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>    
</head>
<body>
    
    <%= render "layouts/body" %>

</body>
</html>